/*Forma de la parte de la introduccion*/
.flex-container {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    max-width: 100%; /* Establece el ancho máximo del flex container */
}

.introduction-item {
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    width: 1600px;
    height: 350px;
}

.introduction-item img {
    max-width: 15%;
    float: left;
    margin-right: 10px;
}

.color-letters {
    color: black;
}

.justify-text {
    text-align: justify;
}
.style-letters {
    font-weight: bold;
}

.sub-letters {
    color: blue;
}

.imagenes {
    float: right;
}

.images-space {
    padding: 30px;
}
